/*Ao determinar o tamanho da fonte padrão do arquivo HTML aqui, eu forcei o navegador trabalhar com o padrão de 16px do navegador e com isso ajustar os demais tamanhos com EM ou REM*/

html{
    font-size:100%;
}


/*Este seletor define de forma geral qualquer instrução que for inserida nele, o Border-box vai padronizar todas as caixas sem precisar calcular as diferenças */
* {
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.4rem;
}
