/*---------------*\
      PLANO
\*---------------*/

.plano{
    /*A caixa vermelha estava utilizando outro ponto como posicionamento relativo, para determinar um ponto relativo, no próprio plano inserimos o position relative*/
    position: relative;

    border:1px solid #95a4a5;
    
    padding:10px;

    font-size: 0.875rem;
    

}

/*Inserindo caixa vermelha no bloco micro*/
.plano--mais-popular::after{
    position: absolute;
    top:-10px;
    left: -10px;

    /*Forma de inserir texto direto pelo CSS em algum campo*/
    content: "MAIS POPULAR";
    
    background-color: #c20303;
    color: #fff;

    font-size: 0.7142em;
    line-height: 2.5;/*Vi abrir espaço inferior e superior na caixa vermelha, 2x e meia*/

    padding: 0 10px;

}

.plano__cabecalho{
    background-color: #95a4a5;
    color:#fff;
    text-align:center;
    line-height:2.5;
    /*Relizado o ajuste da caixa interna com a externa, como havia inserido um padding de 10px no article o h2 não estava colando então foi removido 10px no h2 para ajustar a caixa interna com a externa e inserido 2px no margin-bottom para o texto não sobrepor na caixa interna*/
    margin: -10px;
    margin-bottom: 2px;
    font-weight: normal;
    font-size: 2em;
}

.plano__preco{
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

.plano__caracteristicas{
    list-style: none;
    padding: 0; /*Padding 0px para ajustar corretamente n cixa quando for centralizar*/
    margin: 20px 0;

    font-size: 1em;
}

.plano__caracteristicas > li{
    text-align: center;
}

.plano__rodape{
    text-align: center;
}

/*---------------*\
      BOTÃO
\*---------------*/


.botao{
    display: inline-block;
    background-color: #bbb;
    color:#fff;
    padding:12px 16px;
    text-decoration: none;
    line-height: normal; /*Aqui foi inserido um line-height normal para não herdar o line-heigth da classe .menu__item onde está o botão deste menu*/
}

/*Duas vezes dois pontos é um pseudo elemento um vez dois pontos uma pseudo classe*/
/*Modificando a cor do botão quando passamos o mouse por cima ou quando utilizamos a tecla TAB do teclado*/

.botao:hover, .botao:focus{
    background-color: #aaa;
    text-decoration:none;
    color:#fff;
}


/*Aqui foi criado um modificador para o botão*/

/*Durante o projeto foi inserida a classe botao--login do menu, pois terá o mesmo efeito e com isso não é necessário criar um novo código*/
.botao--assinar, .botao--login{
    background-color: #127d00;
}
/*No modificar foi inserido o hover e focus para dar os devido efeitos quando passar o mouse e clicar nos botões */

/*Durante o projeto foi inserida a classe botao--login do menu, pois terá o mesmo efeito e com isso não é necessário criar um novo código*/
.botao--assinar:hover, .botao--assinar:focus, .botao--login:hover, .botao--login:focus{
    background-color: #0e6400;
}

.botao--principal{

    border-radius: 10px;
    background-color: #004b86;
}

.botao--principal:hover, .botao--principal:focus{
    background-color: #003b6a;
}


/*---------------*\
      CHAMADA
\*---------------*/

.chamada{
    font-size: 1.6rem;

    text-align: center;
}

.chamada__titulo{
    margin: 0;

    color: #fff;

    font-size: 3.375em; /*54px / 16px = 3.375*/
    line-height: 0.9; /*Altura da linha*/
    text-shadow: 1px 1px #313131;
}

.chamada__subtitulo{
    margin: 60px 0;
    
    color: #fff;

    font-size:1em;       
}

.chamada__acao{
    font-size: 1em;
}

@media(min-width: 992px){
    .chamada{
        padding-left: 10%;
        padding-right: 10%;

        font-size: 2.2rem;
    }
}

/*---------------*\
      DEPOIMENTO
\*---------------*/

.depoimento{
    font-size: 2.2rem;
}


/*Ajuste para dispositivos menores*/
@media(min-width: 992px){
    .depoimento{
        
        /*espaço interno do depoimento*/
        padding-left: 15%;
        padding-right: 15%;

        font-size: 2.8rem;
    }
}

.depoimento > blockquote{
    position: relative;

    margin: 0;
    padding: 0 60px;

    text-align: center;
    font-size: 1em;
}

/*Inserindo aspas no depoimento*/
.depoimento > blockquote::before{
    position:absolute;
    left: -0.1172em;
    top: -0.35em;

    font-size:8em;

    color:#ccc;

    content: "\201C"; /*Código encontrado no google como list unicode, inserir sempre \ e o valor*/
}

.depoimento__autor{
    margin-top: 40px;

    text-align: center;
    font-size: 0.8181em;

}

.depoimento__autor > img{
    border-radius:50%;
}

.depoimento__autor > p{
    margin-top: 10px;
}

/*---------------*\
    NAVEGACAO
\*---------------*/

.navegacao{

}

.navegacao__menu{
    float: right;
}

/*---------------*\
  BOTAO-CHAVEADOR
\*---------------*/
.botao-chaveador{
    width: 24px;
    height: 24px;

    border: 0; /*Removendo a borda que apareceu na imagem do menu*/

    background-image: url("menu-navegacao.png");
}

/*Com essa media eu informo que o botão chaveador vai aparecer após o ajuste de tela nesta medida*/
@media(min-width: 992px){
    .botao-chaveador{
        display:none;
    }
}


/*---------------*\
    MENU
\*---------------*/

.menu{
    position: fixed; /*Vai rolar a página e o menu ficará estático*/
    top:0;
    left: 0;
    bottom:0;

    width: 200px;
    margin:0;
    padding: 20px;
    border: 1px solid #eee;
    
    list-style: none;

    font-size: 1.4rem;

    background-color: #fbfbfb;

    
}

.menu__item{
    display: block;

    line-height: 3;
}

/*Ajustando o botão do menu de forma individual*/
.menu__item--botao{
    margin-top:20px;
}




/*---------------*\
    RODAPE
\*---------------*/

.layout-rodape{
    padding: 40px 0;

    background-color: #484848;

    color: #fff;
    text-align: center;
}

/*Determino um ponto onde a alteração vai ser feita e com isso não haverá alteração antes desse ponto*/
@media(max-width: 749px){
    /*div:not(classe) para não aplicar a regra na últim coluna e conforme o código, não deixar um espaçamento grande quando diminuir a tela*/
    .layout-planos .row > div:not(.ultima-coluna){
        margin-bottom: 40px;
    }
}