.layout-cabecalho{

    height: 80px;
    border-bottom: 1px solid #ccc;
}
/*Se eu acrescentar o sinal > eu indico que este IMG é filho direto de header neste caso e isso pode gerar alguns problemas, então é melhor deixar sem (header > img)*/
.layout-cabecalho  img{
    margin-top:10px;
}

.layout-planos{
    padding: 80px 0;
}

.layout-chamada{
    padding: 80px 0;

    background-color: #7ab55c;
}

/*
.container{
*/
    /*ajustando o container dentro do header*/
    
 /*   width:100%;
    margin: 0 auto;
    padding-left:15px;
    padding-right:15px;
}
*/

/* Exemplo com outro valor fazendo mudança de cor ao atingir os 600px
@media (min-width: 600px){
    article{
        background-color: yellow;
    }
}
*/


/*Regra criada para quando a tela estiver neste caso a partir de 800px ele modificar o CSS para o código inserido dentro do @media (vai ajustar os elementos na tela dos dispositivos / Podemos inserir quatos @media forem necessários. Obs.: os valores inseridos baixo estavam no código acima e foram inseridos no @media mas não alteram o visual em telas maiores como estavam antes*/
/*@media (min-width: 900px){
    article{
        width:30%;
        float:left;
        margin-right: 3%;
    }
}
*/


/*Recurso utilizado após alinhas as caixas com os planos: Inserindo o after na caixa planos eu reservo todo o box para o conteúdo dele, qualquer texto ou elemento inserido depois, vai dicar abaixo*/
/* Foi removido o código, pois já está sendo utilizado o sistema de grid e esse ID está sendo utilziado para ajustar as caixas com os planos
#planos::after{
    content: "";
    display: block;
    clear: both;
}
*/
