/*Este seletor define de forma geral qualquer instrução que for inserida nele, o Border-box vai padronizar todas as caixas sem precisar calcular as diferenças */
* {
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}

header{

    height: 80px;
    border-bottom: 1px solid #ccc;
}
/*Se eu acrescentar o sinal > eu indico que este IMG é filho direto de header neste caso e isso pode gerar alguns problemas, então é melhor deixar sem (header > img)*/
header  img{
    margin-top:10px;
}

#planos{
    padding: 80px 0;
}

.container{

    /*ajustando o container dentro do header*/
    
    width:1200px;
    margin: 0 auto;
    padding-left:15px;
    padding-right:15px;
}

article{
    border:1px solid #95a4a5;
    width:350px;
    padding:10px;
    float:left;
    margin-right: 30px;

}

/*Recurso utilizado após alinhas as caixas com os planos: Inserindo o after na caixa planos eu reservo todo o box para o conteúdo dele, qualquer texto ou elemento inserido depois, vai dicar abaixo*/
#planos::after{
    content: "";
    display: block;
    clear: both;
}

article > h2{
    background-color: #95a4a5;
    color:#fff;
    text-align:center;
    line-height:2.5;
    /*Relizado o ajuste da caixa interna com a externa, como havia inserido um padding de 10px no article o h2 não estava colando então foi removido 10px no h2 para ajustar a caixa interna com a externa e inserido 2px no margin-bottom para o texto não sobrepor na caixa interna*/
    margin: -10px;
    margin-bottom: 2px;
    font-weight: normal;
    font-size: 28px;
}

article > div{
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
}

article > ul{
    list-style: none;
    padding: 0; /*Padding 0px para ajustar corretamente n cixa quando for centralizar*/
    margin: 20px 0;
}

article > ul > li{
    text-align: center;
}

article > footer{
    text-align: center;
}